@value tBlue #1d9bf0;

.birthdayInput {
  composes: input from '../../common.module.scss';
  margin-top: 10px;
  height: 60px; 
}

.dateLogo {
  height: 20px;
  float: right;
}

.birthdayTitle {
  color: tBlue;
}

.birthdayPlaceholder {
  height: 30px;
  line-height: 30px;
  font-size: 15px;
}